.dm-sans-defaultfont {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  color: #2F1F1C;
}

.background {
  background-color: #DDDDD4;
}

.circlebackground { 
  width: 140px;
  height: 140px;
  background: #B4B4AE; 
}

body {
  font-family: 'DM Sans';
  color: #2F1F1C;
  background-color: #DDDDD4;
}
