.background {
  background-color: #DDDDD4;
}

.circlebackground { 
  width: 140px;
  height: 140px;
  background: #B4B4AE; 
}

body {
  font-family: 'DM Sans';
  color: #2F1F1C;
  background-color: #DDDDD4;
}

h1 {
  font-size: 5rem; 
  font-weight: bold; 
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

p {
  font-size: 1.25rem;
  text-align: justify;
}

button {
  border: none;
  color: #DDDDD4;
  font-family: 'DM Sans';
  font-weight: bold;
  background-color: #2F1F1C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  color: #2F1F1C;
  background-color: #84847D;
}

form {
  max-width:420px; 
  margin:50px auto; 
}

.style-container {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

.centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.card {
  border: 5px solid #2F1F1C !important;
  text-decoration: none;
  width: 18rem;
}



/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #2F1F1C;
  color: #DDDDD4;
}
